name: Crear Imagen en GCP/GitHubActions
on:
  [workflow_dispatch]
jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: built image
        run: docker build . -t docker.io/${{ vars.GIT_USR }}/wine-class-api:latest
      - name: push image
        run: |
          docker login -u ${{ vars.GIT_USR }} -p ${{secrets.DOCKER_NISH_TTOKEN}}
          docker push docker.io/${{ vars.GIT_USR }}/wine-class-api:latest
          docker tag docker.io/a01794620/wine-class-api:latest us-central1-docker.pkg.dev/laboratorio1-447417/mlflow-mlops-g57/wine-class-api:latest
