name: Crear Imagen en GCP/GitHubActions
on:
  push:
    branches:
      - main
jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: built image
        run: docker build . -t A01794620/wine-class-api:latest
      - name: push image
        run: |
          docker login -u A01794620 -p ${{secrets.DOCKER_NISH_TTOKEN}}
          docker push A01794620/wine-class-api:latest