name: Crear Imagen en GCP/GitHubActions
on:
  [workflow_dispatch]
jobs:
  auth-gcp:
    runs-on: ubuntu-latest
    steps:
  #image:
  #  needs: auth-gcp
  #  runs-on: ubuntu-latest
  #  steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: built image
        run: docker build . -t docker.io/${{ vars.GIT_USR }}/${{ vars.GCP_IMG_CANNONICAL }}:${{ vars.GCP_IMG_VER }}
      - name: push image
        run: |
          docker login -u ${{ vars.GIT_USR }} -p ${{secrets.DOCKER_NISH_TTOKEN}}
          docker push docker.io/${{ vars.GIT_USR }}/${{ vars.GCP_IMG_CANNONICAL }}:${{ vars.GCP_IMG_VER }}
          docker tag docker.io/${{ vars.GIT_USR }}/${{ vars.GCP_IMG_CANNONICAL }}:${{ vars.GCP_IMG_VER }} us-central1-docker.pkg.dev/${{ vars.GCP_PROJECT_LAB }}/${{ vars.GCP_IMG_REPO }}/${{ vars.GCP_IMG_CANNONICAL }}:${{ vars.GCP_IMG_VER }}

      - name: GCP Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{secrets.GCP_CREDS}}'

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker to use Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Push Docker image to Artifact Registry
        run: docker push us-central1-docker.pkg.dev/${{ vars.GCP_PROJECT_LAB }}/${{ vars.GCP_IMG_REPO }}/${{ vars.GCP_IMG_CANNONICAL }}:${{ vars.GCP_IMG_VER }}
