name: Crear Imagen en GCP/GitHubActions
on:
  push:
    branches:
      - main
jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: built image
        run: docker build . -t docker.io/${{ vars.GIT_USR }}/wine-class-api:latest
      - name: push image
        run: |
          docker login -u ${{ vars.GIT_USR }} -p ${{secrets.DOCKER_NISH_TTOKEN}}
          docker push docker.io/${{ vars.GIT_USR }}/wine-class-api:latest