name: Register Imagen en GCP/GitHubActions
on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: GCP Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{secret.GCP_CREDS}}'

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker to use Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      #  us-central1-docker.pkg.dev/laboratorio1-447417/mlflow-mlops-g57/wine-class-api
      #- name: Build and push Docker image
      #  uses: docker/build-push-action@v5
      #  with:
      #    context: .
      #    push: true
      #    tags: us-central1-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/IMAGE_NAME:latest